{{#each posts as |post|}}
<div>
    <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
    <p>{{post.user.name}}</p>
    <p>{{format_date post.date_created}}</p>
    <p>{{post.content}}</p>
</div>
{{/each}}